html {
  width: 100%;
  overflow-x: hidden;
  font-family: AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-size: 30px;
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.number-flip {
  position: relative;
  overflow: hidden;
}

.ctnr {
  position: relative;
  display: inline-block;
}